{
  "presets": ["es2015", "flow", "react"],
  "plugins": ["transform-class-properties", "transform-object-rest-spread"],
  "env": {
    "production": {
      "plugins": ["transform-react-remove-prop-types"]
    }
  }
}
