{
  "parser": "babel-eslint",
  "globals": {
    "require": false,
    "module": false,
    "global": false
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": [
    "seatgeek-standard",
    "seatgeek-react-standard"
  ],
  "plugins": [
    "react",
    "prettier"
  ]
}

