{
  "parser": "babel-eslint",

  "rules": {
    "react/no-danger": 1
  },

  "globals": {
    "require": false,
    "module": false,
    "global": false
  },

  "env": {
    "es6": true,
    "browser": true
  },

  "extends": ["seatgeek-standard"],

  "ecmaFeatures": {
    "jsx": true,
    "experimentalObjectRestSpread": true
  },

  "plugins": [
    "react"
  ]
}
